<div style="padding: 5%;">
<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  <ng-container matColumnDef="Last price">
    <th mat-header-cell *matHeaderCellDef class="head" >Last price</th>
    <td mat-cell *matCellDef="let element">{{element.c}}</td>
  </ng-container>

  <ng-container matColumnDef="Last quantity">
    <th mat-header-cell *matHeaderCellDef class="head"> Last quantity</th>
    <td mat-cell *matCellDef="let element">{{element.Q}}</td>
  </ng-container>

  <ng-container matColumnDef="Best bid price">
    <th mat-header-cell *matHeaderCellDef class="head">Best bid price</th>
    <td mat-cell *matCellDef="let element">{{element.b}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Best bid quantity">
    <th mat-header-cell *matHeaderCellDef class="head">Best bid quantity</th>
    <td mat-cell *matCellDef="let element">{{element.B}}</td>
  </ng-container>

  <ng-container matColumnDef="Best ask price">
    <th mat-header-cell *matHeaderCellDef class="head">Best ask price</th>
    <td mat-cell *matCellDef="let element">{{element.a}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Best ask quantity">
    <th mat-header-cell *matHeaderCellDef class="head">Best ask quantity</th>
    <td mat-cell *matCellDef="let element">{{element.A}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Open price">
    <th mat-header-cell *matHeaderCellDef class="head">Open price</th>
    <td mat-cell *matCellDef="let element">{{element.o}}
    </td>
  </ng-container>

  <ng-container matColumnDef="High price">
    <th mat-header-cell *matHeaderCellDef class="head">High price</th>
    <td mat-cell *matCellDef="let element">{{element.h}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Low price">
    <th mat-header-cell *matHeaderCellDef class="head">Low price</th>
    <td mat-cell *matCellDef="let element">{{element.l}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
</div>